* {
  box-sizing: border-box;
}
:root {
  --black:rgb(11, 4, 20);
  --d-purple:rgb(81, 40, 136);
  --l-purple:rgb(115, 73, 172);
  --l-orange:rgb(235, 97, 35);
  --d-orange:rgb(218, 66, 0);

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Creepster', cursive;
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  background-color: var(--d-purple);
  background-image: url("../img/bg.jpg");
  background-size: 800px;
  background-repeat: repeat;
  color:var(--d-orange);
}

.logo {
  width: 70%;
  max-width: 484px;
}

h1 {
  width: 100%;
  padding-top: 1em;
  margin: 0;
  font-family: 'Creepster', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  text-align: center;
}

.container {
  background: radial-gradient(50% 50% at 50% 50%,
    rgba(115, 73, 172, 0.3) 0%,
    rgba(81, 40, 136, 0) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.hide {
  display: none;
}

.highlight {
  padding: 0.25em;
  /* background: var(--l-orange); */
  font-size: 1em;
  color: var(--black);
}

.underline {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.word-in-progress {
  letter-spacing: 15px;
  color: var(--d-orange);
  font-size: 30px;
}

.guessed-letters {
  padding: 0;
  list-style: none;
}

.guessed-letters li {
  display: inline-block;
  padding: 0 0.5em;
}

.message {
  text-align: center;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-form label {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

input {
  width: 2.25em;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  border: 3px solid var(--l-orange);
  background-color: var(--d-orange);
}

input:active,
input:focus {
  outline: 0;
  border: 4px solid var(--d-purple);
}

.guess,
.play-again {
  padding: 1em 3em;
  border-radius: 50px;
  margin-top: 1em;
  color: var(--d-purple);
  background: var(--d-orange);
  font-size: 1em;
  align-self: center;
  outline: none;
  border: 0;
  cursor: pointer;
}

.guess:active,
.play-again:active,
.guess:focus,
.play-again:focus,
.guess:hover,
.play-again:hover {
  outline: 0;
  transform: scale(0.98);
  background: brightness(0.3);
  color: var(--l-orange);
}

/* animatied background */
.win {
  padding: 0 1em;
  background: linear-gradient(-45deg, var(--d-purple), var(--d-orange));
  background-size: 400% 400%;
  animation: gradient 5s ease-in infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}