*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --black:rgb(11, 4, 20);
  --d-purple:rgb(81, 40, 136);
  --l-purple:rgb(115, 73, 172);
  --l-orange:rgb(235, 97, 35);
  --d-orange:rgb(218, 66, 0);

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  font-family: 'Creepster', cursive;
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  /* background-color: var(--d-purple); */
  /* background-repeat: repeat; */
  color:var(--d-orange);
}

.logo {
  width: 70%;
  max-width: 484px;
}

h1 {
  width: 100%;
  padding-top: .5em;
  margin: 0;
  font-family: 'Creepster', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px;
}

.container {
  background: linear-gradient(-45deg, rgba(115, 73, 172, 0.6), rgba(81, 40, 136, 0.5));
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: bottom center;
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
}

.hide {
  display: none;
}

.highlight {
  padding: 0.25em;
  /* background: var(--l-orange); */
  font-size: 1em;
  color: var(--black);
  font-size: 1.2em;
  letter-spacing: 2px;
  text-shadow: 2px 4px 8px var(--l-orange);
}

.underline {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.word-in-progress {
  letter-spacing: 15px;
  color: var(--d-orange);
  font-size: 30px;
}

.remaining {
  letter-spacing: 1px;
}


.span-guess {
  letter-spacing: 5px;
  color: var(--l-purple);
  font-style: italic;
  text-shadow:2px 2px 8px var(--black);
  font-size: 1.2em;
}

.guessed-letters {
  padding: 0;
  list-style: none;
}

.guessed-letters li {
  display: inline-block;
  padding: 0 0.5em;
}

.message {
  text-align: center;
  margin-top: 4em;
  letter-spacing: 1px;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-form label {
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

input {
  width: 2.25em;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  border: 0;
  background-color: var(--d-purple);
  color: var(--l-purple);
  text-shadow: 2px 4px 5px var(--black);
  box-shadow: 0px 0px 8px antiquewhite;
}

input:active,
input:focus {
  outline: 0;
  border: 4px solid var(--d-purple);
  box-shadow: 0px 0px 26px antiquewhite;
}

.guess,
.play-again {
  padding: 1em 3em;
  border-radius: 50px;
  margin-top: 1em;
  color: var(--d-orange);
  background: var(--black);
  font-size: 1em;
  align-self: center;
  outline: var(--d-orange) 3px solid;
  border: 0;
  cursor: pointer;
  position: relative;
  letter-spacing: 1px;
}

.guess:active,
.play-again:active,
.guess:focus,
.play-again:focus,
.guess:hover,
.play-again:hover {
  outline: var(--l-orange) 3px solid;
  transform: scale(0.98);
  background: brightness(0.3);
  color: var(--l-purple);
}

/* animatied background */
.win {
  padding: 0 1em;
  background: linear-gradient(-45deg, var(--d-purple), var(--d-orange));
  background-size: 400% 400%;
  animation: gradient 5s ease-in infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}